<% provide(:title, "Create a Pin") %>
<div class="row">

	<div class="col-xs-offset-2 col-xs-8">
		<h2 class="text-primary" >New Pin</h2>
		<div class="clearfix"></div>
	    <hr>
	    <div class="clearfix"></div>
		<%= render 'form' %>
	</div>

</div>



