

<div class="row">
	<div class="col-xs-offset-4 col-xs-4">
		<div class="panel panel-default">
          	<div class="panel-body">
				<h2 class="text-primary">Forgot your password?</h2>
				<div class="clearfix"></div>
				<%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
				  <%= f.email_field :email, autofocus: true %>
				  <%= f.submit "Send me reset password instructions", class: 'btn btn-info' %>
				<% end %>
				<br><br>
				<div class="well"><%= render "devise/shared/links" %></div>
			</div>
		</div>
	</div>
</div>